<div>
  Short URL: 
  <%=
    link_to_if(!@link.is_active, @link.short_url, controller: "links", action: "show") do
      link_to @link.short_url, @link.long_url, target: "_blank", rel: "nofollow" if @link.is_active
    end
  %>
</div>
<div>Admin URL: <%= link_to @link.admin_url, edit_admin_link_path(@link) %></div>
