<%= form_for(@link, url: admin_link_path(@link)) do |f| %>
    <div>Usage Count: <%= @link.usage_count %></div>
    <div class="form-group">
      <label for="is_active" id="is_active_label"><b>Is Active</b>
      <%= f.select :is_active, [true, false], { selected: @link.is_active }, { class: "form-control", id: "is_active" } %>
      <div><%= f.submit "Update", class: "btn btn-primary" %></div>
    </div>    
<% end %>
