<% flash.each do |key, value| %>
  <%= content_tag :div, value.first["message"], class: "flash #{key}" %>
<% end %>

<%= form_for(@link) do |f| %>
  <p>
    <b>Enter a URL</b><br>
    <%= f.text_field :long_url %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
